/*CSS personalizado.*/

.linhaCinza{
    background: gray;
}

.linhaAzul{
    background: blue;
}

.containerPersonalizado{
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
  background-color:azure;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  
}

.glyphicon { 
    margin-right:10px; 
}

.panel-body { 
    padding:0px; 
}

.panel-body table tr td { 
    padding-left: 10px 
}

.panel-body .table {
    margin-bottom: 0px; 
}

.container {
    padding: 20px;
    position: relative;
}

.form-login {
    background-color:gainsboro;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid blue; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    padding-right: 1px;
    text-align: right;
}

.well {
  padding: 19px;
  background-color: beige;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}